// colores
$white: #fff;
$main-black: #021514;
$grey: #8b8b8b;
$info: #92dce5;
$danger: #ef6361;

// fuentes
$roboto: "Roboto";
// tamaño de fuentes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
